body {
  margin: 0;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
a {
  background-color: transparent;
  text-decoration: none;
  color: black;
}

a:active,
a:hover {
  outline: 0!;
  text-decoration: none;
}
